<html>
<head>
<style>
body {
  background-color: white;
}

h1, h2, h3 {
  color: black;
  text-align: center;
  font-family: "Times New Roman";
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h6 {
  color: white;
  font-size: 15px;
}

p {
  font-family: verdana;
  font-size: 18px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
</html>
